.museum-map-marker {
	position: relative;
}

.museum-map-marker__badge {
	position: absolute;
	top: 0;
	right: -30px;
	width: 40px;
	height: 25px;
	color: white;
	font-size: 1rem;
	font-weight: 700;
	background: #7b1fa2;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}
