.museum-map-marker {
	position: relative;
}

.museum-map-marker__rating {
	position: absolute;
	top: 0px;
	right: -55px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border-radius: 5px;
	z-index: 999;
	width: 65px;
	height: 33px;
	border: 2px solid #faaf00;
}

.museum-map-marker__rating p {
	margin-left: 2px;
	font-weight: 500;
}

.hidden {
	display: none;
}
